
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
          
        <th scope="col">Timestamp</th>
        <th scope="col">Número mínimo</th>
        <th scope="col">Número máximo</th>
        <th scope="col">Code</th>
        <th scope="col">Description</th>
        <th scope="col">List</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let operation of operations ">
         
        <td>{{operation.timestamp}}</td>
        <td>{{operation.min}}</td>
        <td>{{operation.max}}</td>
        <td>{{operation.id |number:'3.0'}}</td>
        <td>{{operation.description}}</td>
        <td style="max-width: 100px;">{{operation.list | truncarText:[operation.list]}}</td>
      </tr>
    </tbody>
  </table>
</div>


